.detected-video.extension-blocked {
    position: relative;
    border: 2px solid #ff0000;
    display: none !important;
}

.detected-video.extension-blocked::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.2);
    pointer-events: none;
    z-index: 1;

}
